%header
  = link_to logo_bt, root_path
  %nav.round
    %ul
      %li
        = link_to "Home", root_path
      %li
        = link_to "BattleMechs", '#'
      %li
        = link_to "Aerospace Superiority", '#'
      %li
        = link_to "Systems", '#'
      %li
        = link_to "Help", help_path

