%html
  %head
    %title MechYard | #{@title}
    -# para que ciertos metodos hagan saltar al authenticity token
    -# evitar cross-site request forgery
    = csrf_meta_tag

    = render 'layouts/stylesheets'

    -# javascripts
    = javascript_include_tag :defaults, :cache => true
    
  %body
    .container_24
      = render 'layouts/header'
      %section.round
        = yield
      = render 'layouts/footer'
