!!!
%html
  %head
    %title MechYard 0.1
    -# para que ciertos metodos hagan saltar al authenticity token
    -# esto es un fistro
    = csrf_meta_tag
    
    -# css
    = stylesheet_link_tag("reset")
    = stylesheet_link_tag("text")
    = stylesheet_link_tag("960_24_col")

    -# javascripts
    = javascript_include_tag :defaults, :cache => true
    
  %body
    .container_24
      %h1 MechYard 0.1
      = flash[:notice]
      = yield
